body{
    font-family: 'Roboto Serif', sans-serif;
}

h1{
    color: red;
}
.d1{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 3%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}